body{
	margin: 0;
	background: #deb887;
	h1,h2,h3,h4{
		font-family: 'Impact';
		color: white;
		-webkit-text-stroke: 0.7px black;
	}
	p,ul,ol,li{
		font-size: 18px;
	}
	d{
		font-family: 'Trebuchet MS';
		margin-left: 30px;
		font-size: 22px;
		color: Gray;
		-webkit-text-stroke: 0.8px black;
	}
	a{
		font-family: 'Trebuchet MS';
		font-size: 20px;
	}
}

header{
	height: auto;
	width: auto;
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
	padding: 15px;
	border-left: 10px solid #c78836;
	background: #d69f67;
	
	div.label{
		margin-left: 20px;
	}
	
	img.ico{
		display: flex;
		align-self: center;
		margin-right: 25;
		margin-left: 12;
		width: 64;
		height: 64;
	}
}

main{
	padding-left: 16px;
	height: auto;
	width: auto;
}

footer{
	padding-left: 16px;
	display: flex;
	align-items: center;
	height: auto;
	width: auto;
	background: #dfa265;
	/*border-top: 10px solid #c78836;*/
	border-left: 10px solid #c78836;
	
	h2{
		padding-right: 10;
	}
}

div.content{
	display: flex;
	justify-content: space-around;
	margin: 30px;
	
	div.content-left{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		margin: 30px;
		padding: 15px;
		border: 5px solid #c78836;
		border-radius: 15px;
		background: #d69f67;
	}

	div.content-right{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 30px;
		padding: 15px;
		border: 5px solid #c78836;
		border-radius: 15px;
		background: #d69f67;
	}
}

img.size1{
	width: 150;
	height: 150;
}

img.size2{
	width: 200;
	height: 200;
}

img.RyanGosling{
	position: fixed;
	width: 100;
	height: 100;
	right: 0;
	bottom: 0;
}

div.column_content{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100;
	
	img.meme{
		max-height: 600;
		max-width: 1000;
		border: 2px solid black;
		margin-bottom: 100;
	}
	
	video.meme{
		max-height: 600;
		max-width: 1000;
		border: 2px solid black;
		margin-bottom: 100;
	}
}